<div class="wallpaper">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-sunny"></div>
          <mat-card-title>Ozone: {{ pollutionData[0].ozone }}</mat-card-title>
          <mat-card-subtitle>O: {{ pollutionData[0].ozone }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li><strong>Particullate : {{ pollutionData[0]?.particullateMatter }}  </strong></li>
            <li><strong>Carbon : {{pollutionData[0]?.carbonMonoxide}}  </strong></li>
            <li><strong>Sulfure : {{pollutionData[0]?.sulfureDioxide}}  </strong></li>
            <li><strong>Nitrogen : {{pollutionData[0]?.nitrogenDioxide}}  </strong></li>
          </ul>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-rain"></div>
          <mat-card-title>Date: {{ pollutionData[1].date }}</mat-card-title>
          <mat-card-subtitle>Hour: {{ pollutionData[1].date }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li><strong>Dew point (celsius) : {{ pollutionData[1]?.dewptm }}  </strong></li>
            <li><strong>Humidity : {{pollutionData[1]?.hum}}  </strong></li>
            <li><strong>Pressure : {{pollutionData[1]?.pressurem}}  </strong></li>
            <li><strong>Temeprature: {{pollutionData[1]?.tempm}}  </strong></li>
            <li><strong>Visibility: {{pollutionData[1]?.visim}}  </strong></li>
            <li><strong>Wind direction : {{pollutionData[1]?.wdird}}  </strong></li>
            <li><strong>Wind direction : {{pollutionData[1]?.wsdpm}}</strong></li>
          </ul>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-snow"></div>
          <mat-card-title>Date: {{ pollutionData[1].date }}</mat-card-title>
          <mat-card-subtitle>Hour: {{ pollutionData[1].date }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
              <li><strong>Dew point (celsius) : {{ pollutionData[2]?.dewptm }}  </strong></li>
              <li><strong>Humidity : {{pollutionData[2]?.hum}}  </strong></li>
              <li><strong>Pressure : {{pollutionData[2]?.pressurem}}  </strong></li>
              <li><strong>Temeprature: {{pollutionData[2]?.tempm}}  </strong></li>
              <li><strong>Visibility: {{pollutionData[2]?.visim}}  </strong></li>
              <li><strong>Wind direction : {{pollutionData[2]?.wdird}}  </strong></li>
              <li><strong>Wind direction : {{pollutionData[2]?.wsdpm}}</strong></li>
          </ul>
      
        </mat-card-content>
      </mat-card>
</div>

