<div class="wallpaper">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-sunny"></div>
          <mat-card-title>Date: {{ weatherData[0].date }}</mat-card-title>
          <mat-card-subtitle>Hour: {{ weatherData[0].date }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li><strong>Dew point (celsius) : {{ weatherData[0]?.dewptm }}  </strong></li>
            <li><strong>Humidity : {{weatherData[0]?.hum}}  </strong></li>
            <li><strong>Pressure : {{weatherData[0]?.pressurem}}  </strong></li>
            <li><strong>Temeprature: {{weatherData[0]?.tempm}}  </strong></li>
            <li><strong>Visibility: {{weatherData[0]?.visim}}  </strong></li>
            <li><strong>Wind direction : {{weatherData[0]?.wdird}}  </strong></li>
            <li><strong>Wind direction : {{weatherData[0]?.wsdpm}}</strong></li>
          </ul>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-rain"></div>
          <mat-card-title>Date: {{ weatherData[1].date }}</mat-card-title>
          <mat-card-subtitle>Hour: {{ weatherData[1].date }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li><strong>Dew point (celsius) : {{ weatherData[1]?.dewptm }}  </strong></li>
            <li><strong>Humidity : {{weatherData[1]?.hum}}  </strong></li>
            <li><strong>Pressure : {{weatherData[1]?.pressurem}}  </strong></li>
            <li><strong>Temeprature: {{weatherData[1]?.tempm}}  </strong></li>
            <li><strong>Visibility: {{weatherData[1]?.visim}}  </strong></li>
            <li><strong>Wind direction : {{weatherData[1]?.wdird}}  </strong></li>
            <li><strong>Wind direction : {{weatherData[1]?.wsdpm}}</strong></li>
          </ul>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-snow"></div>
          <mat-card-title>Date: {{ weatherData[1].date }}</mat-card-title>
          <mat-card-subtitle>Hour: {{ weatherData[1].date }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
              <li><strong>Dew point (celsius) : {{ weatherData[2]?.dewptm }}  </strong></li>
              <li><strong>Humidity : {{weatherData[2]?.hum}}  </strong></li>
              <li><strong>Pressure : {{weatherData[2]?.pressurem}}  </strong></li>
              <li><strong>Temeprature: {{weatherData[2]?.tempm}}  </strong></li>
              <li><strong>Visibility: {{weatherData[2]?.visim}}  </strong></li>
              <li><strong>Wind direction : {{weatherData[2]?.wdird}}  </strong></li>
              <li><strong>Wind direction : {{weatherData[2]?.wsdpm}}</strong></li>
          </ul>
      
        </mat-card-content>
      </mat-card>
</div>

