<div class="wallpaper">
  <div class="buttons-wrapper">
    <button mat-raised-button color="primary" 
    style="width: 200px; height:50px; background-color: pink;"
    routerLink="/parking" routerLinkActive="active">
        Parking</button>

        <button mat-raised-button color="primary" 
        style="width: 200px; height:50px; background-color: pink; margin-left:3px;"
        routerLink="/traffic" routerLinkActive="active">
            Traffic</button>

            <button mat-raised-button color="primary" 
    style="width: 200px; height:50px; background-color: pink; margin-left:3px;"
    routerLink="/pollution" routerLinkActive="active">
        Pollution</button>

        <button mat-raised-button color="primary" 
    style="width: 200px; height:50px; background-color: pink; margin-left:3px;"
    routerLink="/weather" routerLinkActive="active">
        Weather</button>
  </div>
</div>